/* Style for form container */
form {
  max-width: 1000px;
  margin: 0px auto;
  padding: 20px;
  border: 0px solid #ce5f5f;
  border-radius: 2px;
  background-color: #75b7d2;
}

/* Style for form labels */
label {
  font-weight: bold;
}

/* Style for form inputs */
input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

/* Style for error messages */
.small {
  display: block;
  margin-top: 4px;
  font-size: 12px;
  color: #dc3545;
}

/* Style for submit button */
button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #8abae1;
  cursor: pointer;
}

/* Disable button when form is invalid */
button:disabled {
  background-color: #fb9302;
  cursor: not-allowed;

}

/* Responsive layout for form columns */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.col {
  flex: 1;
  padding-right: 10px;
  padding-left: 10px;
}

/* Small screen layout for columns */
@media (max-width: 576px) {
  .col {
      flex: 1 0 100%;
      padding-right: 0;
      padding-left: 0;
  }
}
h3 {
  text-align: center;
}

/* Style for the submit button */
button.btn-primary[type="submit"] {
  padding: 8px 16px; /* Adjust padding for smaller size */
  border-radius: 20px; /* Add rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for raised effect */
  width: 200px; /* Make the button width adjust to its content */
  display: block; /* Change the button to a block element */
  margin: 0 auto; /* Center the button horizontally */
}


